<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusChayan</title>
    <link href = "/static/css/output.css" rel="stylesheet">
    <link href = "/static/css/styles.css" rel="stylesheet">
    <style>
        .right2 {
            display : none;
        }
    </style>
</head>
<body class="bg-[#0F0F0F] text-white font-sfpro ">
    <div class="container mx-auto p-4 right1">
        <div class="flex flex-col items-center">
            <div class="rounded-full p-0 mb-8 mt-10">
                <img src = "/static/assets/logo.png"/>
            </div>
            <h1 class="text-4xl font-sfpro mb-2">Good evening, how can we help you today?</h1>
            <div class="text-lg font-sfpro text-[#5C5C5C] mb-6 animated-text"><span></span></div>
            <div class="text-xl mb-4 text-white flex flex-start text-left">
                <div>get started with these</div>
                <img class ="px-3 h-6 pt-1" src = "/static/assets/refresh.svg"/>
            </div>
                <div class="grid grid-cols-3 gap-4 h-fit">
                    <div class="border-[2px]  border-[#272727]  rounded-[10px] p-4 flex recommend">
                        <img class ="px-3 h-6 pt-1" src = "/static/assets/recommend.svg"/>
                        <p class="text-md rec">Can you provide previous year's cutoffs for different colleges?</p>
                    </div>
                    <div class="border-[2px]  border-[#272727]  rounded-[10px] p-4 flex recommend">
                        <img class ="px-3 h-6 pt-1" src = "/static/assets/recommend.svg"/>
                        <p class="text-md rec">What are the top polytechnic institutes in Rajasthan?</p>
                    </div>
                    <div class="border-[2px] border-[#272727] rounded-[10px] p-4 flex recommend">
                        <img class ="px-3 h-6 pt-1" src = "/static/assets/recommend.svg"/>
                        <p   class="text-md rec">What are the eligibility criteria for different courses?</p>
                    </div>

    
                </div>
            <div class="mt-8 w-full flex">
                <input type="text" id="questionInput" class="w-full px-4 py-3 rounded-[30px] text-white bg-[#1f1f1f] border-[1px] border-[#C853FF] search" placeholder="Ask me anything">
                <button id="submit-btn" class=" px-4 py-2 ml-2 rounded-md bg-purple-500 hover:bg-purple-600 transition duration-200">
                    <img src = "/static/assets/send.svg"/>
                </button>
            </div>
        </div>
    </div>



    <div class="flex justify-content text-white font-sfpro bg-[#151515] h-[100vh] right2 overflow-hidden">
        <div class="sidebar bg-[#0f0f0f]">
            <div class="logo m-auto py-10 ml-10">
                <img class = "logo" src = "/static/assets/sidebarlogo.svg"/> 

                <a href = "/"><img class = "py-20 newthread" src = "/static/assets/threadcollapsed.png"/></a>
                <img class = "maxbtn pt-60 mt-20 "src = "/static/assets/collapse.svg"/>
            </div>
        </div>
        <div class="content flex-col w-[60vw] m-auto h-[110vh]">
            <h1 id ="question" class="text-3xl font-meduium mb-4 pt-8"></h1>
            <div class="mb-4">
                <div class="flex items-center">
                    <img src ="/static/assets/sources.svg"/>
                    <h2 class="text-xl font-light ml-2">Sources</h2>
                </div>
                <div class="flex space-x-2 py-2">
                    <a href = "https://dte.rajasthan.gov.in/assets/docs/RTI/Handbook%20RTI.pdf" target="_blank">
                        <div class="bg-[#272727] rounded-[10px] px-4  py-2 recommend sources w-fit">
                        <p class="text-md px-3">Official RTI Handbook</p>
                        <div class="flex pt-1">
                        <img class =" newthread pr-3 h-4 mt-3" src = "/static/assets/sources.svg"/>
                        <p class="text-sm pt-2">https://dte.rajastha...</p>
                        </div>
                        </div>
                    </a>
                    <a href = "https://dteapp.hte.rajasthan.gov.in/dte_admission/admission/index/1" target="_blank">
                        <div class="bg-[#272727] rounded-[10px] px-4  py-2 recommend sources w-fit">
                        <p class="text-md px-3">Official Website</p>
                        <div class="flex pt-1">
                        <img class =" newthread pr-3 h-4 mt-3" src = "/static/assets/sources.svg"/>
                        <p class="text-sm pt-2">https://dteapp.hte.ra...</p>
                        </div>
                    </a>


                </div>
                    
                    
                    
                </div>
            </div>
            <div class="bg-[#272727] p-4 rounded-lg h-[40vh] overflow-auto" id="solution">
                Searching...
            </div>
            <div class="mt-8 w-full flex">
                <input type="text" id="questionInput2" class="w-full px-4 py-3 mb-3 rounded-[30px] text-white bg-[#1f1f1f] border-[1px] border-[#C853FF] search" placeholder="Ask me anything">
                <button id="submit-btn2"class="px-4 py-2 ml-2 rounded-md bg-purple-500 hover:bg-purple-600 transition duration-200">
                    <img src = "/static/assets/send.svg"/>
                </button>
            </div>
            <div class="flex space-x-2 py-2 h-[15vh]">
                <div class="rec bg-[#272727] rounded-[10px] px-4 recommend sources w-fit flex justify-between overflow-y-auto overflow-ellipsis custom-scrollbar">
                    <p class=" question-box text-md px-2 pr-3 py-2">Loading Recommended Searches... </p>  
                    <div class="flex pt-1">
                        <img class ="pr-5 h-8 " src = "/static/assets/arrow.svg"/>
                        </div> 
                </div>
                <div class="rec bg-[#272727] rounded-[10px] px-4 recommend sources w-fit flex justify-between overflow-y-auto overflow-ellipsis custom-scrollbar">
                    <p class=" question-box text-md px-3 py-2">Loading Recommended Searches...  </p>  
                    <div class="flex pt-1">
                        <img class ="pr-5 h-8 " src = "/static/assets/arrow.svg"/>
                        </div> 
                </div>
                <div class="rec bg-[#272727] rounded-[10px] px-4 recommend sources w-fit flex justify-between overflow-y-auto overflow-ellipsis custom-scrollbar">
                    <p class=" question-box text-md px-3 py-2">Loading Recommended Searches... </p>  
                    <div class="flex pt-1">
                        <img class ="pr-5 h-8 " src = "/static/assets/arrow.svg"/>
                        </div> 
                </div>
                
                
            </div>
        </div>
    </div>
    <script src ="/static/js/script.js"></script>
</body>
</html>